<%= form_for(@student) do |f| %>

  <% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= f.label :first_name, class: 'form-label' %>
    <%= f.text_field :first_name, class: 'form-control form-control-lg' %>
  </div>

  <div class="mb-3">
    <%= f.label :middle_name, class: 'form-label' %>
    <%= f.text_field :middle_name, class: 'form-control form-control-lg' %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, class: 'form-label' %>
    <%= f.text_field :last_name, class: 'form-control form-control-lg' %>
  </div>

  <div class="mb-3">
    <%= f.label :gender %>
    <%= f.select :gender, Student.genders.keys
          .map {|key| [Student.human_attribute_name("gender.#{key}"), key]},
          include_blank: true %>
  </div>

  <div class="mb-3 mt-4">
    <%= f.submit I18n.t('.submit_button'), class: 'btn btn-success' %>
    <%= link_to I18n.t('.back_button'), :back, class: 'btn btn-dark' %>
  </div>
<% end %>
