<h1>Студент <%= @student.full_name %></h1>

<p><strong>Фамилия:</strong> <%= @student.last_name %></p>
<p><strong>Имя:</strong> <%= @student.first_name %></p>

<% if @student.middle_name.present? %>
  <p><strong>Отчество:</strong> <%= @student.middle_name %></p>
<% end %>

<p><strong>Пол:</strong> <%= Student.human_attribute_name("gender.#{@student.gender}") %></p>

<% if @student.signal.present? %>
  <p><strong>Позывной:</strong> <%= @student.signal %></p>
<% end %>

<p>
  <%= link_to I18n.t('.edit_button'), edit_student_path(@student), class: 'btn btn-success' %>
  <%= link_to I18n.t('.destroy_button'), student_path(@student),
                method: :delete, class: 'btn btn-danger',
                data: { confirm: I18n.t('.destroy_confirmation') } %>
  <%= link_to 'Смотреть всех студентов', students_path, class: 'btn btn-warning' %>
</p>
