<h1>Студент <%= @student.full_name %></h1>

<p><strong>Фамилия:</strong> <%= @student.last_name %></p>
<p><strong>Имя:</strong> <%= @student.first_name %></p>

<% if @student.middle_name.present? %>
  <p><strong>Отчество:</strong> <%= @student.middle_name %></p>
<% end %>

<p><%= link_to I18n.t('.edit_button'), edit_student_path(@student),
               class: 'btn btn-success btn-sm' %></p>

<p><%= link_to 'Смотреть всех студентов', students_path, class: 'btn btn-warning btn-sm' %></p>
